<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Angular Material Master Details Example</title>
    <link rel="icon" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.png" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css" rel="stylesheet" />
    <link href="/app-lib/wijmo/wijmo.min.css" rel="stylesheet" />
    <link href="/app-content/app.less" rel="stylesheet/less" type="text/css" />
</head>
<body>
    <!-- header -->
    <header class="md-whiteframe-z1">
        <nav ng-controller="TabsController as vm" layout="column" class="tabs">
            <md-tabs md-selected="vm.selectedTab">
                <md-tab ng-repeat="tab in vm.tabs">
                    <md-tab-label>
                        <a href="{{tab.path}}">{{tab.name}}</a>
                    </md-tab-label>
                </md-tab>
            </md-tabs>
        </nav>
    </header>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer>
        Powered by Point Blank Development
    </footer>

    <!-- toast message templates -->
    <script type="text/ng-template" id="toast-success-template.html">
        <md-toast id="toast-message" class="success">
            <i class="fa fa-check-circle"></i>
            <span flex ng-bind="vm.message"></span>
            <a ng-click="vm.close()" class="close">×</a>
        </md-toast>
    </script>
    <script type="text/ng-template" id="toast-error-template.html">
        <md-toast id="toast-message" class="error">
            <i class="fa fa-exclamation-circle"></i>
            <span flex ng-bind="vm.message"></span>
            <a ng-click="vm.close()" class="close">×</a>
        </md-toast>
    </script>

    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- underscore -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- less.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

    <!-- angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>

    <!-- ui router -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- angular material -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- wijmo -->
    <script src="/app-lib/wijmo/wijmo.min.js"></script>
    <script src="/app-lib/wijmo/wijmo.grid.min.js"></script>
    <script src="/app-lib/wijmo/wijmo.angular.min.js"></script>

    <!-- application scripts -->
    <script src="/app.js"></script>
    <script src="/app-services/toast.service.js"></script>
    <script src="/app-services/user.service.js"></script>
    <script src="/layout/tabs.controller.js"></script>
    <script src="/overview/main.controller.js"></script>
    <script src="/users/main.controller.js"></script>
    <script src="/users/add-edit.controller.js"></script>
</body>
</html>